{% extends "registration/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
{% if validlink %}

<form class="col-lg-12" method="post" action=".">
  {% csrf_token %}
        {% if form.non_field_errors %}
        <div align="center" class="alert alert-danger">
            <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="form-group-pvr form-float">
            <div class="form-line-pvr">
                {{ form.new_password1|add_class:"form-control"}}
                <label class="form-label">New Password</label>
            </div>
        </div>
            <div class="form-group-pvr form-float">
            <div class="form-line-pvr">
                {{ form.new_password2|add_class:"form-control"}}
                <label class="form-label">Confirm New Password</label>
            </div>
        </div>
    <div class="col-lg-12 m-t-10 ">
    <input onclick="homepage()"type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />

    </div>

</form>
{% else %}
<h5 align="center">{% trans "Password reset failed" %}</h5>
{% endif %}
{% endblock %}
